.best-selling {
  width: 100%;
  margin-bottom: 70px;

  @media (min-width: 1728px) {
    margin-bottom: 83px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-bottom: 62px;
    }
  }

  &__category {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 25px;

    @media (min-width: 768px) {
      gap: 79px;
      margin-bottom: 60px;
    }

    @media (min-width: 768px) {
      margin-bottom: 81px;
    }
  }

  &__button {
    width: 100%;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    box-shadow: none;
    padding: 8px 38px;

    @media (min-width: 768px) {
      width: auto;
      font-size: 28px;
      line-height: 38px;
      padding: 20px 45px;
    }
  }

  &__products {
    @include clear-list;
    display: flex;
    gap: 25px;
    flex-direction: column;
    margin-bottom: 25px;

    @media (min-width: 768px) and (max-width: 1728px) {
      display: grid;
      grid-template-columns: repeat(2, minmax(212px, 344px));
      grid-template-rows: 846px 364px;
      gap: 40px;
      justify-content: center;
      margin-bottom: 40px;
    }

    @media (min-width: 1728px) {
      display: grid;
      grid-template-columns: repeat(3, minmax(373px, 510px));
      grid-template-rows: repeat(2, 524px);
      row-gap: 69px;
      column-gap: 29px;
      margin-bottom: 85px;
    }
  }

  &__show-all {
    margin: 0 auto;
    width: 100%;
    font-size: 28px;
    line-height: 43px;
    font-weight: 600;
    padding: 17px 52px;
    box-shadow:
      0px 2.77px 2.21px 0px #00000005,
      0px 6.65px 5.32px 0px #00000007,
      0px 12.52px 10.02px 0px #00000009,
      0px 22.34px 17.87px 0px #0000000B,
      0px 41.78px 33.42px 0px #0000000D,
      0px 100px 80px 0px #00000012;

    @media (min-width: 768px) {
      width: auto;
    }
  }
}
