.header {
  margin-bottom: 41px;

  @media (min-width: 768px) {
    margin-bottom: 59px;
  }

  @media (min-width: 1728px) {
    margin-bottom: 0px;
    position: absolute;
    width: 100%;
    z-index: 6;
  }

  &__close {
    @include clear-button;
    display: none;
    position: absolute;
    top: 22px;
    right: 11px;
    cursor: pointer;

    img {
      width: 13px;
      height: 13px;
    }
  }

  &__burger {
    @include clear-button;
    position: relative;
    cursor: pointer;

    img {
      width: 17px;
      height: 15px;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__icons {
    display: flex;
    gap: 28px;
    cursor: pointer;

    @media (min-width: 768px) {
      gap: 44px;
    }

    @media (max-width: 767px) {
      position: relative;
      top: 4px;
    }
  }

  &__search {
    @include clear-button;
    position: relative;
    z-index: 1001;

    img {
      width: 17px;
      height: 16px;

      @media (min-width: 768px) {
        width: 29px;
        height: 27px;
      }
    }
  }

  &__shopping-cart {
    position: relative;
    z-index: 1002;
  }

  &__cart {
    position: absolute;
    right: 0;
    min-width: 300px;
    display: none;

    &_active {
      display: block !important;
    }
  }

  &__cart-button {
    @include clear-button;
    cursor: pointer;

    img {
      width: 19px;
      height: 16px;

      @media (min-width: 768px) {
        width: 32px;
        height: 26px;
      }
    }
  }

  &__container {
    justify-content: space-between;
    padding-top: 15px;
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
      justify-content: flex-start;
      padding-top: 21px;
    }

    @media (min-width: 1728px) {
      padding-top: 77px;
    }
  }

  &__social {
    justify-content: flex-end;
  }

  &__logo {
    img {
      display: block;
      width: 74px;
      height: 25px;

      @media (min-width: 768px) {
        width: 93px;
        height: 31px;
      }
    }
  }

  &__contacts {
    display: none;
    margin-top: auto;
    padding-bottom: 20px;

    p {
      color: #000000;
      font-size: 12px;
      line-height: 18px;
      padding-left: 11px;
      padding-right: 11px;
      margin-bottom: 4px;
    }
  }

  &__nav {
    margin: auto;
    display: none;

    @media (max-width: 767px) {
      padding-top: 76px;
      background-color: #EBEBEB;
      position: absolute;
      z-index: 1000;
      text-align: right;
      justify-content: flex-start;
      height: 100vh;
      right: 0;
      top: 0;
      width: 57%;
      box-shadow: 0px 2.32px 1.97px 0px #00000006, 0px 5.39px 4.58px 0px #00000009, 0px 9.68px 8.22px 0px #0000000B, 0px 16.06px 13.65px 0px #0000000C, 0px 26.45px 22.49px 0px #0000000E, 0px 46.23px 39.3px 0px #00000011, 0px 100px 85px 0px #00000017;
    }

    @media (min-width: 768px) {
      display: block;
    }

    &--showed {
      display: flex;
      flex-direction: column;
      .header__contacts {
        display: block;
      }
      .header__close {
        display: block;
      }
    }
  }

  &__list {
    @include clear-list;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    @media (min-width: 768px) {
      display: flex;
      font-size: 16px;
      line-height: 25px;
    }

    @media (min-width: 1728px) {
      font-size: 24px;
      line-height: 37px;
      margin-right: 250px;
    }

    a {
      display: block;

      @media (max-width: 767px) {
        padding: 13px 10px;
        background-color: #F6F6F6;
        border-bottom: 1px solid #D9D9D9;
      }

      @media (min-width: 768px) {
        padding: 12px;
      }

      @media (min-width: 1728px) {
        padding: 18px;
      }

      &:active {
        background-color: #fff;
      }
    }

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;

      & li:first-child a {
        border-top: 1px solid #D9D9D9;
        padding-top: 12px;
        order: 1;
      }
      & li:nth-child(2) {
        order: 3;
      }
      & li:nth-child(3) {
        order: 2;
      }
    }
  }

  &__pin {
    position: absolute;
    left: 13px;
    bottom: 13px;
    min-width: 12px;
    height: 12px;
    padding: 0 2px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 7px;
    background-color: #D9D9D9;

    @media (min-width: 768px) {
      left: 22px;
      bottom: 22px;
      min-width: 17px;
      height: 17px;
      font-size: 11px;
    }
  }
}

