.header {
  background-color: #fff;

  &__close {
    @include clear-button;
    display: none;
    position: absolute;
    top: 22px;
    right: 11px;

    img {
      width: 13px;
      height: 13px;
    }
  }

  &__burger {
    position: relative;
    @include clear-button;
    img {
      width: 17px;
      height: 15px;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__icons {
    display: flex;
    gap: 28px;

    @media (min-width: 768px) {
      gap: 44px;
    }

    @media (max-width: 767px) {
      position: relative;
      top: 4px;
    }
  }

  &__search {
    @include clear-button;
    position: relative;
    z-index: 1001;

    img {
      width: 17px;
      height: 16px;

      @media (min-width: 768px) {
        width: 29px;
        height: 27px;
      }
    }
  }

  &__shopping-cart {
    @include clear-button;
    position: relative;
    z-index: 1002;

    img {
      width: 19px;
      height: 16px;

      @media (min-width: 768px) {
        width: 32px;
        height: 26px;
      }
    }
  }

  &__container {
    justify-content: space-between;
    padding-top: 15px;
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
      justify-content: flex-start;
      padding-top: 21px;
    }

    @media (min-width: 1728px) {
      padding-top: 77px;
    }
  }

  &__social {
    display: flex;
    justify-content: flex-end;
    gap: 21px;
  }

  &__logo {
    @media (min-width: 768px) {
      margin-right: 140px;
    }

    @media (min-width: 1728px) {
      margin-right: 363px;
    }

    img {
      display: block;
      width: 74px;
      height: 25px;

      @media (min-width: 768px) {
        width: 93px;
        height: 31px;
      }
    }
  }

  &__contacts {
    display: none;
    margin-top: auto;
    padding: 0 12px 22px 12px;

    p {
      color: #000000;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__nav {
    margin: auto;
    display: none;

    @media (max-width: 767px) {
      padding-top: 76px;
      background-color: #EBEBEB;
      position: absolute;
      z-index: 1000;
      text-align: right;
      justify-content: flex-start;
      height: 100vh;

      right: 0;
      top: 0;
      width: 57%;

      box-shadow: 0px 2.32px 1.97px 0px #00000006;
      box-shadow: 0px 5.39px 4.58px 0px #00000009;
      box-shadow: 0px 9.68px 8.22px 0px #0000000B;
      box-shadow: 0px 16.06px 13.65px 0px #0000000C;
      box-shadow: 0px 26.45px 22.49px 0px #0000000E;
      box-shadow: 0px 46.23px 39.3px 0px #00000011;
      box-shadow: 0px 100px 85px 0px #00000017;
    }

    @media (min-width: 768px) {
      display: block;
    }

    &--showed {
      display: flex;
      flex-direction: column;
      .header__contacts {
        display: block;
      }
      .header__close {
        display: block;
      }
    }
  }

  &__list {
    color: #000000;
    font-weight: 400;
    @include clear-list;
    font-size: 20px;
    line-height: 24px;

    @media (min-width: 768px) {
      display: flex;
      font-size: 16px;
      line-height: 25px;
    }

    @media (min-width: 1728px) {
      font-size: 24px;
      line-height: 37px;
    }

    a {
      display: block;

      @media (max-width: 767px) {
        padding: 13px 10px;
        background-color: #F6F6F6;
        border-bottom: 1px solid #D9D9D9;
      }

      @media (min-width: 768px) {
        padding: 12px;
      }

      @media (min-width: 1728px) {
        padding: 18px;
      }

      &:active {
        background-color: #fff;
      }
    }

    @media (max-width: 767px) {
      & :first-child a {
        border-top: 1px solid #D9D9D9;
        padding-top: 12px;
      }
    }
  }

  &__user-action {
    display: flex;
    align-items: center;
    gap: 28px;

    @media (max-width: 768px) {
      position: relative;
      z-index: 1001;

      right: 35px;
      top: 3px;
    }

    @media (min-width: 768px) {
      gap: 44px;
    }
  }

  &__pin {
    position: absolute;
    left: 13px;
    bottom: 13px;
    min-width: 12px;
    height: 12px;
    padding: 0 2px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 7px;
    background-color: #D9D9D9;

    @media (min-width: 768px) {
      left: 22px;
      bottom: 22px;
      min-width: 17px;
      height: 17px;
      font-size: 11px;
    }
  }
}
