.modal {
  position: fixed;
  z-index: 4000;
  top: 50%;
  transform: translateX(-50%);
  left: 50%;
  background-color: #FBFBFB;
  border-radius: 15px;
  padding: 20px 23px;
  text-align: center;
  box-shadow:
    0px 2.77px 2.21px 0px #00000005,
    0px 6.65px 5.32px 0px #00000007,
    0px 12.52px 10.02px 0px #00000009,
    0px 22.34px 17.87px 0px #0000000B,
    0px 41.78px 33.42px 0px #0000000D,
    0px 100px 80px 0px #00000012;

    @media (min-width: 768px) {
      padding: 30px 75px;
    }

    &--hidden {
      display: none;
    }

  &__text {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 37px;
    }
  }

  &__go-on {
    @include clear-button;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    width: 254px;
    height: 48px;
    cursor: pointer;
    box-shadow:
      0px 2.32px 1.97px 0px #00000006,
      0px 5.39px 4.58px 0px #00000009,
      0px 9.68px 8.22px 0px #0000000B,
      0px 16.06px 13.65px 0px #0000000C,
      0px 26.45px 22.49px 0px #0000000E,
      0px 46.23px 39.3px 0px #00000011,
      0px 100px 85px 0px #00000017;

    @media (min-width: 768px) {
      font-size: 24px;
      line-height: 36px;
      width: 313px;
      height: 63px;
    }
  }

  &__close {
    @include clear-button;
    position: relative;
    bottom: 125px;
    left: 250px;
    cursor: pointer;

    img {
      width: 11px;
      height: 11px;
    }

    @media (min-width: 768px) {
      bottom: 185px;
      left: 348px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

