.most-popular {
  position: relative;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 49px;

  @media (min-width: 768px) and (max-width: 1728px) {
    flex-direction: row;
    gap: 51px;
    margin-bottom: 70px;
  }

  @media (min-width: 1728px) {
    gap: 80px;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-direction: row;
    margin-bottom: 0px;
  }

  &__wrapper-left {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      max-width: 300px;
    }
  }

  &__swiper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    @media (min-width: 768px) {
      padding-left: 35px;
      padding-right: 35px;
    }

    @media (min-width: 1728px) {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  &__list {
    @include clear-list;
    margin-bottom: 59px;
    display: flex;
    flex-direction: row;
    height: auto;

    @media (min-width: 768px) and (max-width: 1728px) {
      max-width: 310px;
    }

    @media (min-width: 1728px) {
      position: relative;
    }
  }

  &__product {
    position: relative;
    background-color: #f9f9f9;
    border: 2px solid #DEDEDE;
    border-radius: 15px;
    padding: 0 39px 35px 39px;
  }

  &__subtitle {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    margin: 0 0 15px 69px;

    &::before {
      content: '';
      display: block;
      height: 2px;
      width: 47px;
      background-color: #000000;
      position: absolute;
      top: 50%;
      left: -70px;
    }
  }

  &__title {
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 24px;
    margin-top: 0;
  }

  &__description {
    display: block;
    font-size: 18px;
    line-height: 22px;
    color:#000000BF;
    margin-bottom: 34px;
  }

  &__photo {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    height: 225px;
  }

  &__name {
    font-size: 21px;
    line-height: 25px;
    font-weight: 500;
    margin: 0 0 22px 0;
  }

  &__price {
    display: block;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
  }

  &__button {
    @include clear-button;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #000000;
    bottom: 30px;
    right: 35px;
  }

  &__link {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    padding: 12px;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow:
      0px 2.32px 1.97px 0px #00000006,
      0px 5.39px 4.58px 0px #00000009,
      0px 9.68px 8.22px 0px #0000000B,
      0px 16.06px 13.65px 0px #0000000C,
      0px 26.45px 22.49px 0px #0000000E,
      0px 46.23px 39.3px 0px #00000011,
      0px 100px 85px 0px #00000017;

    @media (min-width: 768px) {
      position: absolute;
      font-size: 28px;
      line-height: 43px;
      padding: 17px 50px;
      bottom: 90px;
      transform: translateX(-77%);
    }

    @media (min-width: 1728px) {
      bottom: 60px;
      transform: translateX(0);
    }
  }

  &__pagination {
    @include clear-button;
    position: absolute;
    bottom: 30px !important;
    display: flex;
    flex-direction: row;
    gap: 20px;
    transform: translateX(-50%);
    left: 50% !important;
    width: auto !important;

    @media (min-width: 768px) {
      bottom: 25px !important;
    }

    @media (min-width: 1728px) {
      transform: translateX(-46%);
      bottom: 0px !important;
    }

    &--bullet {
      background-color: #000000;
      width: 11px;
      height: 11px;
      border-radius: 11px;
      padding: 0 3px;
      opacity: 1;
    }

    &--big {
      width: 30px;
      height: 11px;
      border-radius: 20px;
      transition: width 0.5s;
    }
  }

  &__slider {
    @include clear-button;
    display: none;

    @media (min-width: 768px) {
      display: block;
      cursor: pointer;
      position: absolute;
      z-index: 4;
      border-color: transparent;
      background: url('../img/most-popular-slider-right.svg') no-repeat;
      background-size: 100% 100%;
      width: 15px;
      height: 27px;

      &--next {
        right: 0px;
        top: 41%;

        @media (min-width: 1728px) {
          right: 0px;
        }
      }

      &--prev {
        transform: translateY(-50%) rotate(180deg);
        left: 0px;
        top: 44%;

        @media (min-width: 1728px) {
          left: 0px;
        }
      }
    }
  }
}

