.motivation {
  margin-top: 0;
  position: relative;

  &__content {
    margin-bottom: 22px;

    @media (min-width: 768px) {
      margin-bottom: 72px;
    }

    @media (min-width: 1728px) {
      margin-bottom: 78px;
    }
  }

  &__title1 {
    font-size: 24px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      font-size: 48px;
      line-height: 53px;
      margin-bottom: 15px;
    }

    @media (min-width: 1728px) {
      font-size: 75px;
      line-height: 84px;
      margin-bottom: 0px;
    }
  }

  &__title2 {
    font-size: 36px;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 4px;

    @media (min-width: 768px) {
      font-size: 96px;
      line-height: 107px;
      margin-bottom: 18px;
    }

    @media (min-width: 1728px) {
      font-size: 75px;
      line-height: 84px;
      margin-bottom: 0px;
    }
  }

  &__title3 {
    font-size: 62px;
    line-height: 69px;
    margin-top: 0;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      font-size: 62px;
      line-height: 69px;
      margin-bottom: 0;
      margin-right: 96px;
      display: inline-block;
    }

    @media (min-width: 1728px) {
      font-size: 75px;
      line-height: 84px;
      margin-bottom: 78px;
      display: block;
    }
  }

  &__subtitle {
    color: #000000BF;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-transform: capitalize;
    margin: 0;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 30px;
      display: inline-block;
    }

    @media (min-width: 1728px) {
      font-size: 28px;
      line-height: 43px;
      display: block;
    }
  }

  &__button {
    @include clear-button;
    background-color: #000000;
    box-shadow: 0px 2.32px 1.97px 0px #00000006, 0px 5.39px 4.58px 0px #00000009, 0px 9.68px 8.22px 0px #0000000B, 0px 16.06px 13.65px 0px #0000000C, 0px 26.45px 22.49px 0px #0000000E, 0px 46.23px 39.3px 0px #00000011, 0px 100px 85px 0px #00000017;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    color: #FFFFFF;
    padding: 12px;
    width: 100%;

    @media (min-width: 768px) {
      font-size: 28px;
      line-height: 43px;
      padding: 22px 124px;
      width: auto;
      display: block;
    }

    @media (min-width: 1728px) {
      padding: 22px 56px;
      display: inline-block;
    }
  }
}
