.title-lines {
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;

  @media (min-width: 768px) {
    font-size: 45px;
    line-height: 62px;
  }

  span {
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 41px;
      height: 3px;
      background-color: #000;
      transform: translateY(-2px);
      top: 50%;
      position: absolute;
      left: -51px;

      @media (min-width: 768px) {
        left: -63px;
      }
    }

    &::after {
      left: auto;
      right: -51px;

      @media (min-width: 768px) {
        right: -63px;
      }
    }
  }
}




